<mat-card>
<mat-card-header>
    <mat-card-title>Are you sure you want to delete this entry?</mat-card-title>
</mat-card-header>

<mat-card-content>
    <mat-list>
        <mat-list-item>
            <b>Description - </b> {{entry._description}}
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <b>Value - </b> ${{entry._value}}
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item [ngStyle]="entry._isExpense ? {color: 'red'} : {color: 'green'}">
            <b>Type - </b> {{(entry._isExpense) ? 'Expense' : 'Income'}}
        </mat-list-item>
           
    </mat-list>
</mat-card-content>

<mat-card-actions>
    <button mat-flat-button (click)="cancel()">Cancel</button>
    <button mat-raised-button color="warn" (click)="confirm()">Confirm</button>
</mat-card-actions>
</mat-card>