<mat-card>
    <span>Create new account</span>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <mat-form-field>
            <input matInput placeholder="Username" formControlName="userName">
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput placeholder="Password" formControlName="password">
        </mat-form-field>
        <br>

        <mat-form-field>
            <input matInput placeholder="Confirm password" formControlName="confirmPassword">
        </mat-form-field>
        <br>

        <span *ngIf="registerForm.errors?.matchingfields">Password do not match.</span>

        <button class="new-form-btn" mat-raised-button color="primary" [disabled]="!registerForm.valid">Register</button>

    </form>
</mat-card>